:host{

  .mat-mdc-card {
    margin-top: 1.25rem;

    &:first{
      margin: .625rem 0 0 0;
    }
  }
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;

  .content{
    margin-top: 3.125rem;
    min-width: 64rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
      color: #fff;
    }

    .cards{
      width: min-content;

      .card{
        display: flex;
        margin: .625rem 0 .625rem 0;

        img{
          object-fit: cover;
        }

        .mat-card{
          margin: .625rem 0 .625rem 0;
        }

        .information{
          padding: .625rem;
          border: .0625rem solid #fff;
          margin-left: 1.5625rem;

          p{
            width: 100%;
            color: #fff;
            font-size: 1.5rem;
            border-bottom: .0625rem solid #fff;
            padding-bottom: .625rem;
          }

          .status{
            display: flex;
            position: relative;

            .dot{
              width: 20px;
              height: 20px;
              right: 20px;
              border-radius: 50%;
              position: absolute;

              &.Dead{
                background: red;
              }

              &.Alive{
                background: rgb(21, 255, 0);
              }

              &.unknown{
                background: rgb(150, 150, 150);
              }
            }
          }

          p:last-child{
            width: 18.75rem;
            font-size: 1rem;
            overflow-y: auto;
            height: 8.125rem;
          }

        }
      }
    }

    .err{
      color: #fff;
      font-size: 1.5rem;
      margin: 1.875rem 0;
    }

  }
}

