<div class="container">
  <div class="content">
    <h1>Rick and morty API</h1>
    <form class="example-form">
      <mat-form-field class="example-full-width">
      <input type="text"
           placeholder="Write the character"
           aria-label="Number"
           matInput
           [formControl]="control"
           [matAutocomplete]="auto"
           id="search"
           >

      <mat-autocomplete #auto="matAutocomplete">
        @for (charactersNames of filtredCharacters | async; track
        charactersNames) {
        <mat-option [value]="charactersNames.name">{{ charactersNames.name }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    </form>


    <section class="cards">
    @for (characterCard of filtredCharacters | async; track characterCard){
      <mat-card appearance="outlined">
        <mat-card-content>
          <div class="card">
            <img [src]="characterCard.image" />
            <div class="information">
              <p>Name: {{ characterCard.name }}</p>
              <p>Gender: {{ characterCard.gender }}</p>
              <p>Species: {{ characterCard.species }}</p>
              <div class="status">
                <p>Status: {{ characterCard.status }} </p>
                <div class="dot" [ngClass]="characterCard.status"></div>
              </div>
              <p>Episodes: {{ getEpisodeNumbers(characterCard.episode).join(', ') }}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    }
  </section>

    @if (error){
      <p class="err">Not found any Cards</p>
    }

  </div>
</div>
